.App {
    text-align: center;
}

body {
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
}

.banner {
  display: inline;
  /* justify-content: center; */
  justify-content: space-between;
  margin: auto;
}

.logo {
    /* align-items: center; */
    width: 50px;
}

.icon {
    margin: auto;
    width: 200px;
}

.location {
    font-size: 40px;
}
.figure1 {
    font-size: 35px;
}

.low {
    color: dodgerblue;
}

.high {
    color: indianred;
}

.desc,
.location {
    padding-top: 10px;
}

.btn {
    margin-top: 10px;
}
